.form {
    max-width: 265px;
    margin-top:2rem;
}
  
.client-detail {
    text-align: center;
}

.back-button{
  color: grey;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.deets {
  padding: 15px;
  text-align: center;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  margin-top: 1.6rem;
}

.date {
  color: #999999;
}

.form-button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  height: 32px;
  position: relative;
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
  width: 100%
}

.bottom {
  margin-bottom: 2rem;
}

.home-nav {
  text-align: left;
  padding: 2rem 0 0 2rem;
}

.photo-image {
  max-width: 100%;
}

li {
  list-style-type: none;
  max-width: 400px;
  margin: auto;
}

.container {
  margin: 2rem auto;

}

.container form {
  text-align: center;

}

.loading {
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}


/* img{ display: inline-block; width: 33.33%; */