.form {
    max-width: 300px;
  }
  
  #firstName, #lastName, #phone, #location, #weddingDate {
    width: 100%;
    height: 32px;
    padding: 4px 11px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
  }

  .client-detail {
    text-align: center;
    /* background: #eee; */
  }

.card {
    position: absolute;
    top: 25%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin: -150px;
    float: left;
    perspective: 500px;
  }


  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  }

.deets {
  padding: 15px;
  text-align: center;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
}

.date {
  color: #999999;
}