.sign-in {
    padding-top: 5.5em;
    text-align: center;
}

.create-link {
    text-decoration: none;
    color: #E5E7E9;
}

a {
    text-decoration: none; 
}

#logo {
    max-width: 100%;
    margin-top: -3rem;

}


.tooltip {
    margin: 15px;
}
.tooltip .tooltipText {
    visibility: hidden;
    color: #EAF2F8;
    text-align: center;
    z-index:1;
    text-transform: uppercase;
}

.tooltip:hover .tooltipText {
    visibility: visible;
}

.tooltipText {
    font-size: 10px;
}

@media all and (max-width: 600px) {   
    .Home section {     
        height: 100% !important; 
    } 
}

@media only screen and (max-height : 828px) {
    #logo {
        margin-top: -5rem;
    }
    .login-input {
        margin-top: -2rem;
    }
    .tooltip {
        margin: 3px;
    }
}


@media only screen and (max-height : 740px) {
    #logo {
        margin-top: -6em;
    }
    .tooltip {
        margin: 5px;
    }
    .login-input {
        margin-top: -3rem;
    }
}