.sign-in {
    padding-top: 5.5em;
    text-align: center;
}

.create-link {
    text-decoration: none;
    color: #E5E7E9;
}

a {
    text-decoration: none; 
}

#logo {
    max-width: 45%;
    margin: 15%;
}

